body{
    margin: 40px 70px;
    margin-bottom: 100px;
    text-align: center;
    background: rgba(53, 47, 47, 0.2);

}
.myheader{
    background: rgba(24, 113, 146, 0.2);
    padding: 20px;
}
.schedule{
    display: flex;
    justify-content: center;
}